body {
  background-color: rgb(255, 255, 248);
}

.font {
  color: rgb(154, 154, 154);
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.font2 {
  padding-top: 40px;
  color: rgb(130, 130, 130);
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: small;
}

.font3 {
  padding-top: 70px;
  color: rgb(85, 85, 85);
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: x-small;
}

.font4 {
  padding-top: 20px;
  color: rgb(85, 85, 85);
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: small;
}

.imgindex {
  width: 60%;
  margin: auto;
  /* display: block; */
  justify-content: center;
  display: flex;
  scale: 60%;
}

/* .col-md-12 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
} */

.imgcontact {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

#years a {
  text-align: center;
  text-decoration: none;
  padding-right: 70px;
  padding-left: 70px;
}

#textos a {
  text-decoration: none;
}

#video {
  padding-top: 150px;
}

#carousel1 {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 1000px;
}

.nopadding {
  padding: 0;
  margin: 0;
}
/* 
  footer{
    margin-top: px;
  } */

/* .list-unstyled{
    display: inline-block;
  }

  .list-unstyled{
    display: inline-block;
  } */
