body {
  background-color: rgb(255, 255, 248);
}

.font {
  color: rgb(154, 154, 154);
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.font2 {
  padding-top: 40px;
  color: rgb(130, 130, 130);
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: small;
      }


.font3 {
  padding-top: 70px;
  color: rgb(85, 85, 85);
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: x-small;
}

.font4 {
  padding-top: 20px;
  color: rgb(85, 85, 85);
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: small;
}

 .imgindex {
        width: 100%;         /* Ocupa todo el ancho */
        height: auto;        /* Mantiene la proporción */
        display: block;      /* Evita espacio extra debajo de la imagen */
        object-fit: cover;   /* Cubre el espacio sin estirarse feo */
        scale: 30%;
        margin-top: -400px;
        
        position: fixed; /* La fija al fondo */
        top: 0;
        left: 0;
        object-fit: cover; /* Corta la imagen si es necesario para llenar todo (sin espacios blancos) */
        z-index: -1; /* La manda detrás del menú y el footer */
      }


/* .col-md-12 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
} */

.imgcontact {
          width: 100%;         /* Ocupa todo el ancho */
        height: auto;        /* Mantiene la proporción */
        display: block;      /* Evita espacio extra debajo de la imagen */
        object-fit: cover;   /* Cubre el espacio sin estirarse feo */
        scale: 70%;

  border-radius: 5px; /* Opcional: bordes redondeados */
  margin-top: -80px;
  /*box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Opcional: sombra suave */
}

a {
  text-decoration: none;
}

#years a {
  text-align: center;
  text-decoration: none;
  padding-right: 70px;
  padding-left: 70px;
}

#textos a {
  text-decoration: none;
}

#video {
  padding-top: 40px;

}

#carousel1 {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 1000px;
}

.nopadding {
  padding: 0;
  margin: 0;
}
/* 
  footer{
    margin-top: px;
  } */

/* .list-unstyled{
    display: inline-block;
  }

  .list-unstyled{
    display: inline-block;
  } */
